@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
	margin: 0;
	padding: 0;
}
body, html {
	margin: 0;
	padding: 0;
}
a {
	color: #2ECC71;
}
.field {
	width: 960px;
	margin: 0 auto;
}
.maxfield {
	width: 1142px;
	margin: 0 auto;
}
.fix {
	clear: both;
}
#header {
	border-top: 10px solid #2ECC71;
	background: url('img/mainimg.png') fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	height: 610px;
}
.title {
	margin-top: 170px;
	margin-bottom: 35px;
	font-size: 60px;
	color: #ffffff;
	font-family: 'Pacifico', regular;
}
.title h1 {
	font-size: 60px;
}
.dot {
	color: #2ecc71;
}
.subtitle p {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 25px;
}
.subtitle ul {
	padding-left: 0;
    display: block;
}
.subtitle ul li {
	display: inline-block;
}
.subtitle ul a {
	font-size: 30px;
    color: #f4f4f4;
    padding: 0 10px;
}
.subtitle ul li a img {
	background-color: #342118;
    border-radius: 30%;
    padding: 15px;
}
.subtitle ul img:hover {
	background-color: #2ecc71;
}
#features {
	background: #ffffff;
	height: auto;
}
.service {
	float: left;
	width: 320px;
	text-align: center;
	margin: 60px 0;
}
.service img {
	background-color: #2ECC71;
	padding: 20px;
	border-radius: 30%;
	margin-bottom: 30px;
}
.service img:hover {
	background-color: #222222;
	padding: 20px;
	border-radius: 30%;
	margin-bottom: 30px;
}
.service h2 {
	font-family: arial;
	color: #222222;
	margin-bottom: 30px;
}
.service p {
	font-family: arial;
	color: #aaaaaa;
}
#notified {
	background: #e3e3e3;
	height: auto; 
}
.mail {
	width: 50%;
	float: left;
	margin-top: 60px;
	margin-bottom: 150px;
}
.mail h2 {
	font-family: arial;
	margin-bottom: 30px;
	font-size: 24px;
	color: #222222;
}
.mail p {
	font-family: arial;
	color: #aaaaaa;
	margin-bottom: 30px;
}
.mail form input {
	border: 1px solid #c8c8c8;
	border-radius: 10px 0px 0px 10px;
	padding: 20px;
	font-size: 18px;
}
.mail form button {
	background: #2ecc71;
	padding: 20px;
	margin-left: -5px;
	border: 1px solid #2ecc71;
	border-radius: 0px 10px 10px 0px;
	font-size: 18px;
	color: #ffffff;
	font-weight: 600;
}
.video {
	width: 50%;
	float: left;
	margin-top: 60px;
}
#testimonials {
	text-align: center;
}
#testimonials p {
	color: #848484;
	font-family: arial;
	font-style: italic;
	font-size: 18px;
	margin-top: 60px;
}
#testimonials h3 {
	margin: 30px 0px;
	font-family: arial;
	font-size: 20px;
}
.avatars {
	list-style: none;
	margin-bottom: 60px;
}
.avatars li {
	float: left;
	margin-right: 5px;
}

#touch {
	text-align: center;
}
#touch h2 {
	margin: 30px 0px;
	font-family: arial;
	font-size: 24px;
}
#touch p {
	color: #848484;
	font-family: arial;
	font-size: 18px;
	margin-top: 30px;
}
.social {
	padding-left: 0;
    display: block;
	margin-top: 30px;
	text-align: center;
	margin: 0 auto;
	width: 40%;
}
.social ul {
	padding-left: 0;
    display: block;
}
.social ul li {
    display: inline-block;
}
.social li {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.social ul a {
    font-size: 30px;
    color: #f4f4f4;
    padding: 0 10px;
}
.social img {
	background-color: #c5c5c5;
    border-radius: 30%;
    padding: 10px;
}
.social img:hover {
    background-color: #2ecc71;
}
#footer {
    padding: 40px 0;
    background-color: #e3e3e3;
    text-align: center;
    margin-top: 60px;
}
#footer ul {
    padding-left: 0;
    margin-top: 10px;
    display: block;
}
#footer ul li {
    display: inline-block;
}
#footer ul a {
    color: #848484;
    padding: 0 10px;
    text-decoration: none;
}